<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="teachers, diary, teacher's diary, teachers diary, учител, дневник, учителски дневник, дневник на учителя">

    <title>@GlobalResources.TeachersDiaryTitle</title>
    
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/teacherDiary")
    @RenderSection("styles", false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@(Html.ActionLink<DashboardController>(GlobalResources.HomeLabel, x => x.Index()))</li>
                    }
                </ul>
                @Html.Partial(PartialViewConstants.LoginPartial)
            </div>
        </div>
    </div>
    <div id="container" class="container body-content">
        <hr />
            @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @GlobalResources.AndriyanKrastevLabel</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/respond")

    @RenderSection("scripts", false)
</body>
</html>
