<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="teachers, diary, teacher's diary, teachers diary, учител, дневник, учителски дневник, дневник на учителя">

    <title>@Resources.TeachersDiaryTitle</title>
    
    @Styles.Render("~/googleFonts")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/teachersDiary")

    @RenderSection("styles", false)
</head>
<body>
    <div id="wrapper">
        @Html.Partial(PartialViewConstants.LeftNavigation)

        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">
            @Html.Partial(PartialViewConstants.TopNavigation)
            
            @RenderBody()
           
            @Html.Partial(PartialViewConstants.Footer)
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")

    @RenderSection("scripts", false)
</body>
</html>
