@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm<AccountController>(
        x => x.LogOff(), 
        FormMethod.Post, 
        new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">
                    @User.Identity.GetUserName()
                </a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">
                @GlobalResources.LogOffLabel
            </a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @(Html.ActionLink<AccountController>(
                  GlobalResources.SignUpLabel, 
                  x => x.Register(), 
                  null, 
                  new {id = "registerLink"}))
        </li>
        
        <li>
            @(Html.ActionLink<AccountController>(
                  GlobalResources.LogInLabel,
                  x => x.Login(string.Empty),
                  null,
                  new {id = "loginLink" }))
        </li>
    </ul>
}

