@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Учителски Дневник | Вход</title>

    @Styles.Render("~/googleFonts")
    @Styles.Render("~/Content/css")

</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <h3>Добре дошли</h3>
            <p>
                Най-добрият помощник за всеки учител.
            </p>
            <p>@GlobalResources.LogInLabel.</p>

            @using (Html.BeginForm<AccountController>(c => c.Login(), FormMethod.Post, null, new { @class = "m-t" }))
            {
                @Html.AntiForgeryToken()
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Имейл" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Парола" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                </div>

                <button id="submit-btn" class="btn btn-primary block full-width m-b" type="submit">
                    @GlobalResources.LogInLabel
                </button>

                <p class="text-muted text-center">
                    <small>Нямате акаунт?</small>
                </p>
                @(Html.ActionLink<AccountController>(
                  GlobalResources.SignUpLabel,
                  c => c.Register(),
                  null,
                  new { @class = "btn btn-sm btn-white btn-block" }))
            }
            <p class="m-t">
                <small>&copy; @DateTime.Now.Year Андриян Кръстев</small>
            </p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>