@model RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Учителски Дневник | Вход</title>

    @Styles.Render("~/googleFonts")
    @Styles.Render("~/Content/css")

</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <h3>Регистрация</h3>
            @using (Html.BeginForm<AccountController>(c => c.Register(), FormMethod.Post, null, new {@class= "m-t" }))
            {
                @Html.AntiForgeryToken()

                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Имейл" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Парола" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
              
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Повтори парола" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.DropDownListFor(x => x.SelectedSchool, Model.Schools, GlobalResources.SelectSchool
                   ,new {@class = "form-control m-b" })
                    @Html.ValidationMessageFor(model => model.SelectedSchool, "", new { @class = "text-danger" })
                </div>

                <div>
                    <button id="submit-btn" class="btn btn-primary block full-width m-b" type="submit">
                        @GlobalResources.CreateButton
                    </button>
                </div>

                <p class="text-muted text-center">
                    <small>Имате регистриран акаунт?</small>
                </p>

                @(Html.ActionLink<AccountController>(GlobalResources.LogInLabel, c => c.Login(), null, new {@class = "btn btn-sm btn-white btn-block" }))
               
            }
           
            <p class="m-t">
                <small>&copy; @DateTime.Now.Year Андриян Кръстев</small>
            </p>
        </div>
    </div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
</body>
</html>