@model CreateStudentViewModel

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
                Изтриване на ученик
            </h4>
        </div>

        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Number)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Number)
                </dd>
                
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                
                <dt>
                    @Html.DisplayNameFor(model => model.MiddleName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MiddleName)
                </dd>
              
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
            </dl>

            @using (Ajax.BeginForm("DeleteStudentById", "Student", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "DeleteAssetSuccess" }, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.ClassId)

                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Отказ", "Index", null, new { @class= "btn btn-default", data_dismiss = "modal"})
                            <input type="submit" value="Изтрий" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
